main > .container {
  padding: 60px 15px 0;
  height: 100%;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.custom-switch {
  padding: 1em;
  position: absolute;
  right: 0;
  top: 4rem;
}

.navbar {
  /* background-color: #282e32 !important; */
  height: 4rem !important;
}

code {
  font-size: 80%;
}

body {
  text-align: center;
}

main > .textAndButton {
  display: grid;
  grid-template-columns: 60% 20%;
  width: 500px;
  margin: auto;
}

navbar {
  background-blend-mode: darken;
}
.lorem {
  font-size: 1.2rem;
}

.blue-button {
  height: 80%;
  text-align: center;
}
